body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f9f9f9;
    color: #333;
    font-size: 10px;

}

h1 {
    text-align: center;
    color: #444;
    margin-bottom: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

th, td {
    padding: 3px 15px;
    text-align: left;
    border-bottom: 1px solid #e0e0e0;
}

th {
    background-color: #007bff;
    color: white;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #e9ecef;
}

.status-icon {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
    border: 1px solid rgba(0,0,0,0.1);
}

@keyframes pulse-glow {
    0% {
        box-shadow: var(--pulse-shadow-start);
    }
    50% {
        box-shadow: var(--pulse-shadow-peak);
    }
    100% {
        box-shadow: var(--pulse-shadow-end);
    }
}

.status-running {
    --pulse-shadow-start: 0 0 2px 2px rgb(0 255 56 / 32%);
    --pulse-shadow-peak: 0 0 6px 6px rgb(33 255 82 / 80%); /* Alpha updated to 80% */
    --pulse-shadow-end: 0 0 2px 2px rgb(0 255 56 / 24%);
    background-color: #1aff46;
    box-shadow: var(--pulse-shadow-start);
    animation-name: pulse-glow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.status-passing, .status-up { background-color: #28a745; } /* Green */
.status-down, .status-failing { background-color: #dc3545; } /* Red */
.status-unknown { background-color: #ffc107; } /* Yellow */

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.category-cell {
    font-weight: bold;
    color: #0056b3;
}

.no-data {
    text-align: center;
    padding: 20px;
    font-style: italic;
    color: #777;
}
